<h1>FirstAPP</h1>
<%= form_with url:  "/posts", method: :post,id: "form" do |form| %>
  <%= form.text_field :content %>
  <%= form.submit '投稿する' , id: "submit" %>
<% end %>

<% @posts.each do |post|%>
  <div>
    <%= post.memo %>
    <%= post.created_at %>
  </div>
<% end %>